table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
tr th{
  background-color: lightgreen;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  
}

tr:nth-child(even) {
  background-color: #dddddd;
}
button{
  background-color: rgb(130, 113, 238);
  font-size: bold;
  color: white;
  padding: 7px;
  border: none;
}